<!DOCTYPE html>
<html lang="en">
<head>
  <title>Currency exchange</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', path='index/script.js') }}"></script>
  <link href="{{ url_for('static', path='index/styles.css') }}" rel="stylesheet">
</head>
<body>
  <h2>Currencies (<a href="/currencies">JSON</a>)</h2>
  <table border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Sign</th>
          <!-- <th>action</th> -->
        </tr>
      </thead>
      <tbody id="currenciesTBody">
      </tbody>
  </table>
 
  <h3>Add new currency</h3>
  <form action="/currencies" method="POST">
    <p>Name <input type="text" id="name"></p>
    <p>Code <input type="text" id="code" maxlength="3"></p>
    <p>Sign <input type="text" id="sign" maxlength="1"></p>
    <p><input id="addCurrencyButton" type="submit" value="add"></p>
  </form>

  <h2>Exchange rates (<a href="/exchangeRates">JSON</a>)</h2>
  <table border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Pair</th>
          <th>Rate</th>
          <!-- <th>action</th> -->
        </tr>
      </thead>
      <tbody id="exchangeTBody"">
      </tbody>
  </table>

  <h2>Exchange</h2>
  <form action="" method="get">
    <p>Base currency code<input type="text" id="baseCode" maxlength="3"></p>
    <p>Target currency code<input type="text" id="targetCode" maxlength="3"></p>
    <p>Amount<input type="number" id="amount"></p>
    <p>
      <input id="exchangeButton" type="submit" value="exchange">
      Converted amount: <span id="convertedAmount">...</span>
    </p>
  </form>
</body>
</html>

<!-- <div>
      <input type="hidden" id="userId" />
      <p>
          Имя:<br/>
          <input id="userName" />
      </p>
      <p>
          Возраст:<br />
          <input id="userAge" type="number" />
      </p>
       <p>
          <button id="saveBtn">Сохранить</button>
          <button id="resetBtn">Сбросить</button>
      </p>
  </div> -->