<!DOCTYPE html>
<html lang="en">
<head>
  <title>Currency exchange</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', path='index/script.js') }}"></script>
  <link href="{{ url_for('static', path='index/styles.css') }}" rel="stylesheet">
</head>
<body>
  <h3>Currencies (<a href="/currencies">JSON</a>)</h3>
  <table border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Sign</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody id="currenciesTBody">
      </tbody>
  </table>

  <hr>
 
  <h3>Add currency</h3>
  <form method="POST">
    <table>
      <tr><td>Name</td><td><input type="text" id="cname"></td></tr>
      <tr><td>Code</td><td><input type="text" id="ccode" maxlength="3"></td></tr>
      <tr><td>Sign</td><td><input type="text" id="csign" maxlength="1"></td></tr>
      <tr><td><input id="cadd" type="submit" value="add"></td></tr>
    </table>
  </form>

  <hr>

  <h3>Exchange rates (<a href="/exchangeRates">JSON</a>)</h3>
  <table border="1" cellpadding="5">
      <thead>
        <tr>
          <th>Pair</th>
          <th>Rate</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody id="exchangeTBody"">
      </tbody>
  </table>

  <hr>

  <h3>Add exchange rate</h3>
  <form method="POST">
    <input type="hidden" id="erpair">
    <table>
      <tr><td>Base currency code</td><td><input type="text" id="erbccode" maxlength="3"></td></tr>
      <tr><td>Target currency code</td><td><input type="text" id="ertccode" maxlength="3"></td></tr>
      <tr><td>Rate</td><td><input type="text" id="errate"></td></tr>
      <tr><td><input id="eradd" type="submit" value="save"></td></tr>
    </table>
  </form>

  <hr>

  <h3>Exchange</h3>
  <form method="get">
    <table>
      <tr><td>Base currency code</td><td><input type="text" id="baseCode" maxlength="3"></td></tr>
      <tr><td>Target currency code</td><td><input type="text" id="targetCode" maxlength="3"></td></tr>
      <tr><td>Amount</td><td><input type="number" id="amount"></td></tr>
      <tr><td><input id="exchangeButton" type="submit" value="exchange"></td></tr>
      <tr>
        <td>Converted amount:</td>
        <td><span id="convertedAmount">...</span></td>
      </tr>
    </table>
  </form>
</body>
</html>